/* src/styles.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

/* Custom scrollbar for the task list */
#task-list::-webkit-scrollbar {
  width: 6px;
}

#task-list::-webkit-scrollbar-track {
  background: transparent;
}

#task-list::-webkit-scrollbar-thumb {
  background: #e6e2d0;
  border-radius: 10px;
}